<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon-200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon-atlas.png</string>
            <key>size</key>
            <string>{402,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bea751100270210b811db9f529c6331:dc1592c28da87c2bfcae8f18be9c4e27:ca4a96fe2f5f951172697362b1b8d063$</string>
            <key>textureFileName</key>
            <string>icon-atlas.png</string>
        </dict>
    </dict>
</plist>
